@model JWConvention.Models.ReservationModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">

    <h1>Booking Details</h1>

@using (Html.BeginForm("SaveReservation", "Reservation", FormMethod.Post, new { name = "theForm" }))
{

    @Html.HiddenFor(m => Model.BookingID);

    <div class="row">
        <div class="form_title">
            <h3><strong><i class="icon-pencil"></i></strong>Fill the form below</h3>
        </div>
        <div class="step">

            <div id="message-contact"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Package</label>
                            <span id="spryselect2">
                                @if (Model._packageType == null)
                                {
                                    @Html.DropDownListFor(m => Model._packageType, new SelectList(new List<Object> {
                                   new { value = 1 , text = "7 Night Accomadation"  },
                                   new { value = 2 , text = "8 Night Accomadation" },
                                   new { value = 3 , text = "9 Night Accomadation"  },
                                   new { value = 4 , text = "10 Night Accomadation"  }}, "value", "text"), "- Please Select Package -", new { @name = "drpPackages", @class = "form-control", @id = "drpPackages" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => Model._packageType, new SelectList(new List<Object> {
                                   new { value = 1 , text = "7 Night Accomadation"  },
                                   new { value = 2 , text = "8 Night Accomadation" },
                                   new { value = 3 , text = "9 Night Accomadation"  },
                                   new { value = 4 , text = "10 Night Accomadation"  }}, "value", "text"), "- Please Select Package -", new { @name = "drpPackages", @class = "form-control", @id = "drpPackages", @disabled = "disabled" })
                                }
                                <span class="selectInvalidMsg">Please select a valid item.</span><span class="selectRequiredMsg">Please select an item.</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Room Catagory</label>
                            <span id="spryselect1">
                            @if (Model._roomType == null)
                            {
                                @Html.DropDownListFor(m => Model._roomType, new SelectList(Model._roomList, "RoomID", "RoomType"), "- Please Select Room Category -", new { @name = "drpRoomType", @class = "form-control", @id = "drpRoomType" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => Model._roomType, new SelectList(Model._roomList, "RoomID", "RoomType"), "- Please Select Room Category -", new { @name = "drpRoomType", @class = "form-control", @id = "drpRoomType", @disabled = "disabled" })
                            }                                
                                <span class="selectInvalidMsg">Please select a valid item.</span><span class="selectRequiredMsg">Please select an item.</span>
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label>Occupancy</label>
                            <span id="spryselect1">
                            @if (Model._Occupancy == null)
                            {
                                @Html.DropDownListFor(m => Model._Occupancy, new SelectList(new List<Object> {
                                  new { value = "Single" , text = "Single"  },
                                  new { value = "Double" , text = "Double" },
                                  new { value = "Triple" , text = "Triple"} }, "value", "text"), "- Please Select Room Category -", new { @name = "drpOccupancy", @class = "form-control", @id = "drpOccupancy" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => Model._Occupancy, new SelectList(new List<Object> {
                                   new { value = "Single" , text = "Single"  },
                                   new { value = "Double" , text = "Double" },
                                   new { value = "Triple" , text = "Triple"} }, "value", "text"), "- Please Select Room Category -", new { @name = "drpOccupancy", @class = "form-control", @id = "drpOccupancy", @disabled = "disabled" })
                            }      
                                <span class="selectInvalidMsg">Please select a valid item.</span><span class="selectRequiredMsg">Please select an item.</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2" id="bedPreference" style="display:none">
                        <div class="form-group">
                            <label>Bed Perferance</label>
                            <span id="spryselect2">
                            @if (Model._BedPerferance == null)
                            {
                                @Html.DropDownListFor(m => Model._BedPerferance, new SelectList(new List<Object> {
                                   new { value = "Double" , text = "Double"  },
                                   new { value = "Twin" , text = "Twin" } }, "value", "text"), "- Please Select Bed Perferance -", new { @name = "drpPerferences", @class = "form-control", @id = "drpPerferences" })
                            }
                            else
                            {
                                @Html.DropDownListFor(m => Model._BedPerferance, new SelectList(new List<Object> {
                                   new { value = "Double" , text = "Double"  },
                                   new { value = "Twin" , text = "Twin" } }, "value", "text"), "- Please Select Bed Perferance -", new { @name = "drpPerferences", @class = "form-control", @id = "drpPerferences", @disabled = "disabled" })
                            }
                                <span class="selectInvalidMsg">Please select a valid item.</span><span class="selectRequiredMsg">Please select an item.</span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- End row -->

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>From</label>
                            <span id="sprytextfield1">
                            @if (Model._fromDate == null)
                            {
                                @Html.TextBoxFor(m => Model._fromDate, new { @name = "datetimepicker2", @class = "form-control", value = "", @id = "datetimepicker2" })
                            }
                            else
                            {
                                @Html.TextBoxFor(m => Model._fromDate, new { @name = "datetimepicker2", @class = "form-control", value = "", @id = "datetimepicker2", @disabled = "disabled" })
                            }
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>To</label>
                            <span id="sprytextfield2">
                                @if (Model._toDate == null)
                                {
                                    @Html.TextBoxFor(m => Model._toDate, new { @name = "datetimepicker3", @readonly = "readonly", @class = "form-control", @id = "datetimepicker3" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(m => Model._toDate, new { @name = "datetimepicker3", @readonly = "readonly", @class = "form-control", @id = "datetimepicker3", @disabled = "disabled" })
                                }                              
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                            <div class="checkbox-inline">
                                <label>Arrival Tranfer  </label>
                                <div style="margin-left: 55px;">
                                    @Html.CheckBoxFor(m=> Model._isArrival, new { @name = "chkArrival", @id = "chkArrival" })
                                    @*<input name="chkArrival" type="checkbox" value="" />*@
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(m => Model._ArrivalDate, new { @name = "datetimepicker7", @class = "form-control", value = "", @style = "width:98%; height:39px; padding-left:10px; border: thin solid #e5e5e5;", @id = "datetimepicker7" })
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label>Time</label>
                            @Html.TextBoxFor(m => Model._ArrivalTime, new { @name = "datetimepicker1", @class = "form-control", value = "", @style = "width:98%; height:35px; padding-left:10px; border: thin solid #e5e5e5;", @id = "datetimepicker1" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Flight Number</label>
                            @Html.TextBoxFor(m => Model._ArrivalFlightNumber, new { @name = "txtArrivalFlightNumber", @class = "form-control", value = "", @id = "txtArrivalFlightNumber" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="checkbox-inline">
                            <label>
                                Departure
                            </label>
                            <div style="margin-left: 55px;">
                                @Html.CheckBoxFor(m => Model._isDeparture, new { @name = "chkDeparture", @id = "chkDeparture" })
                                @*<input name="chkDeparture" type="checkbox" value="" />*@
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(m => Model._DepartureDate, new { @name = "datetimepicker8", @class = "form-control", value = "", @style = "width:98%; height:39px; padding-left:10px; border: thin solid #e5e5e5;", @id = "datetimepicker8" })                         
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label>Time</label>
                            @Html.TextBoxFor(m => Model._DepartureTime, new { @name = "datetimepicker5", @class = "form-control", value = "", @style = "width:98%; height:35px; padding-left:10px; border: thin solid #e5e5e5;", @id = "datetimepicker5" })
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Flight Number</label>
                            @Html.TextBoxFor(m => Model._DepartureFlightNumber, new { @name = "txtDepartureFlightNumber", @class = "form-control", value = "", @id = "txtDepartureFlightNumber" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group" style="background-color:#EBEBEB;">
                        <table width="99%" border="0" align="center" bgcolor="#E5E5E5">
                            <tr>
                                <td width="29%"><img src="@Model._hotel.HotelImage" width="284" height="192" /></td>
                                <td width="71%" valign="top" style="text-align:justify; padding:15px;">
                                    @Model._hotel.HotelDescription
                                </td>
                            </tr>
                        </table>


                    </div>
                </div>
                <br />


                <br />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Message</label>
                            @Html.TextAreaFor(m => Model.Remarks, new { @name = "txtRemarks", @rows = "5", @class = "form-control", value = "", @id = "txtRemarks", @placeholder = "Write your message", @style = "height:200px;" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" name="save" value="Save" />
                    </div>
                </div>               
        </div>
    </div>
}
</div>


@section scriptLocation{    

@*<script src="build/jquery.datetimepicker.full.js"></script>*@

<script src="~/scripts/Reservation/Index.js"></script>


    <script>
        $("#drpOccupancy").change(function () {
            var OccupancyID = $('#drpOccupancy').val();

            if (OccupancyID == "Double")
            {
                var dvPassport = document.getElementById("bedPreference");
                dvPassport.style.display ="block";
            }
            else
            {
                var dvPassport = document.getElementById("bedPreference");
                dvPassport.style.display = "none";
            }
        });

        $("#drpPackages").change(function () {
            var PackageID = $('#drpPackages').val();
            if (PackageID == 1)
            {
                $('#datetimepicker2').datetimepicker({
                    minDate: '2018/06/30',
                    startDate: '2018/06/30',
                    maxDate: '2018/07/03',
                });

                $('#datetimepicker3').datetimepicker({
                    maxDate: '2018/07/03',
                });
            }
            else if (PackageID == 2)
            {
                $('#datetimepicker2').datetimepicker({
                    minDate: '2018/06/29',
                    startDate: '2018/06/29',
                    maxDate: '2018/07/03',
                });

                $('#datetimepicker3').datetimepicker({
                    maxDate: '2018/10/05',
                });
            }
            else if(PackageID == 3)
            {
                $('#datetimepicker2').datetimepicker({
                    minDate: '2018/06/28',
                    startDate: '2018/06/28',
                    maxDate: '2018/07/03',
                });

                $('#datetimepicker3').datetimepicker({
                    maxDate: '2018/10/05',
                });
            }
            else if (PackageID == 4) {
                $('#datetimepicker2').datetimepicker({
                    minDate: '2018/06/27',
                    startDate: '2018/06/27',
                    maxDate: '2018/07/03',
                });

                $('#datetimepicker3').datetimepicker({
                    maxDate: '2018/10/05',
                });
            }
        });




        $("#datetimepicker2").change(function () {

            var startDate = $('#datetimepicker2').val();
            
            var PackageID = $('#drpPackages').val();

            $.ajax({
                type: 'GET',
                url: "http://localhost:58536/Service/DateCheck?fromDate=" + startDate + "&packageID=" + PackageID,
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var r = result;
                    debugger;
                    if (result != null) {
                        $('#datetimepicker3').val(result);

                    } else {
                        alert("fail");
                    }
                },
                error: function (req, status, err) {
                    alert("Error");
                }
            });
        });


    </script>

}

