@model JWConvention.Models.ReservationModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-content">
    <h1>Delegate Details</h1>
    <div class="row">
        <div class="form_title">
            <h4><strong><i class="icon-pencil"></i></strong>Fill the form below</h4>
        </div>
        <div class="step">
            <div id="message-contact"></div>

            @using (Html.BeginForm("RegisterDelegate", "Reservation", FormMethod.Post))
            {
                @Html.HiddenFor(m => m._hotelCode, new { @value = Model._hotelCode })

                <div class="row">

                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label>Promo Code</label>
                            <span id="sprytextfield2">
                                @Html.TextBoxFor(m => Model._delegate.GroupId, new { @name = "txtGroupId", @placeholder = "Group ID", @class = "form-control", @id = "txtGroupId" })
                                @*<input type="text" style="width:98%; height:39px; padding-left:10px; border: thin solid #e5e5e5;" />*@
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                            @if (Model.GroupIDError != null)
                            {
                                <label style="color:red">@Model.GroupIDError</label>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <div class="form-group">
                            <label> Title</label><span id="spryselect1">
                                <label for="title"></label>
                                <select name="title" id="title" class="form-control" style="width:98%; height:39px; padding-left:10px; border: thin solid #e5e5e5;">
                                    <option value="1">Mr</option>
                                    <option value="2">Mrs</option>
                                    <option value="2">Dr</option>
                                    <option value="2">Rev</option>
                                </select>
                                <span class="selectRequiredMsg">Please select an item.</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="form-group">
                            <label>Name</label>
                            <span id="sprytextfield1">
                                @Html.TextBoxFor(m => Model._delegate.Name, new { @name = "txtName", @placeholder = "Delegate Name", @class = "form-control", @id = "txtName" })
                                @*<input type="text" style="width:98%; height:39px; padding-left:10px; border: thin solid #e5e5e5;">*@
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                                </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Passport No</label>
                            <span id="sprytextfield3">
                                @Html.TextBoxFor(m => Model._delegate.PassportNo, new { @name = "txtPassportNo", @placeholder = "Passport No", @class = "form-control", @id = "txtPassportNo" })
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Nationality</label>
                            <span id="sprytextfield4">
                                @Html.TextBoxFor(m => Model._delegate.Nationality, new { @name = "txtNationality", @placeholder = "Nationality", @class = "form-control", @id = "txtNationality" })
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>                    
                </div>


                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Country</label>
                            <span id="spryselect2">
                                @Html.DropDownListFor(m => Model._delegate.Country, new SelectList(new List<Object> {
                                   new { value = "Afghanistan" , text = "Afghanistan"  },
                                   new { value = "Aland Islands" , text = "Aland Islands" },
                                   new { value = "Albania" , text = "Albania"  },
                                   new { value = "Algeria" , text = "Algeria" },
                                   new { value = "American Samoa" , text = "American Samoa"  },
                                   new { value = "Andorra" , text = "Andorra" },
                                   new { value = "Angola" , text = "Angola"  },
                                   new { value = "Anguilla" , text = "Anguilla" },
                                   new { value = "Antarctica" , text = "Antarctica"  },
                                   new { value = "Antigua and Barbuda" , text = "Antigua and Barbuda" },
                                   new { value = "Argentina" , text = "Argentina"  },
                                   new { value = "Armenia" , text = "Armenia" },
                                   new { value = "Aruba" , text = "Aruba"  },
                                   new { value = "Australia" , text = "Australia" },
                                   new { value = "Austria" , text = "Austria"  },
                                   new { value = "Azerbaijan" , text = "Azerbaijan" },
                                   new { value = "Bahamas" , text = "Bahamas"  },
                                   new { value = "Bahrain" , text = "Bahrain" },
                                   new { value = "Bangladesh" , text = "Bangladesh"  },
                                   new { value = "Barbados" , text = "Barbados" },
                                   new { value = "Belarus" , text = "Belarus"  },
                                   new { value = "Belgium" , text = "Belgium" },
                                   new { value = "Belize" , text = "Belize"  },
                                   new { value = "Benin" , text = "Benin" },
                                   new { value = "Bermuda" , text = "Bermuda"  },
                                   new { value = "Bhutan" , text = "Bhutan" },
                                   new { value = "Bolivia, Plurinational State of" , text = "Bolivia, Plurinational State of"  },
                                   new { value = "Bonaire, Sint Eustatius and Saba" , text = "Bonaire, Sint Eustatius and Saba" },
                                   new { value = "Bosnia and Herzegovina" , text = "Bosnia and Herzegovina"  },
                                   new { value = "Botswana" , text = "Botswana" },
                                   new { value = "Bouvet Island" , text = "Bouvet Island"  },
                                   new { value = "Brazil" , text = "Brazil" },
                                   new { value = "British Indian Ocean Territory" , text = "British Indian Ocean Territory"  },
                                   new { value = "Brunei Darussalam" , text = "Brunei Darussalam" },
                                   new { value = "Bulgaria" , text = "Bulgaria"  },
                                   new { value = "Burkina Faso" , text = "Burkina Faso" },
                                   new { value = "Burundi" , text = "Burundi"  },
                                   new { value = "Cambodia" , text = "Cambodia" },
                                   new { value = "Cameroon" , text = "Cameroon"  },
                                   new { value = "Canada" , text = "Canada" },
                                   new { value = "Cape Verde" , text = "Cape Verde"  },
                                   new { value = "Cayman Islands" , text = "Cayman Islands" },
                                   new { value = "Central African Republic" , text = "Central African Republic"  },
                                   new { value = "Chad" , text = "Chad" },
                                   new { value = "Chile" , text = "Chile"  },
                                   new { value = "China" , text = "China" },
                                   new { value = "Christmas Island" , text = "Christmas Island"  },
                                   new { value = "Cocos (Keeling) Islands" , text = "Cocos (Keeling) Islands" },
                                   new { value = "Colombia" , text = "Colombia"  },
                                   new { value = "Comoros" , text = "Comoros" },
                                   new { value = "Congo" , text = "Congo"  },
                                   new { value = "Congo, the Democratic Republic of the" , text = "Congo, the Democratic Republic of the" },
                                   new { value = "Cook Islands" , text = "Cook Islands"  },
                                   new { value = "Costa Rica" , text = "Costa Rica" },
                                   new { value = "Côte d'Ivoire" , text = "Côte d'Ivoire"  },
                                   new { value = "Croatia" , text = "Croatia" },
                                   new { value = "Cuba" , text = "Cuba"  },
                                   new { value = "Curaçao" , text = "Curaçao" },
                                   new { value = "Cyprus" , text = "Cyprus"  },
                                   new { value = "Czech Republic" , text = "Czech Republic" },
                                   new { value = "Denmark" , text = "Denmark"  },
                                   new { value = "Djibouti" , text = "Djibouti" },
                                   new { value = "Dominica" , text = "Dominica"  },
                                   new { value = "Dominican Republic" , text = "Dominican Republic" },
                                   new { value = "Ecuador" , text = "Ecuador"  },
                                   new { value = "Egypt" , text = "Egypt" },
                                   new { value = "El Salvador" , text = "El Salvador"  },
                                   new { value = "Equatorial Guinea" , text = "Equatorial Guinea" },
                                   new { value = "Eritrea" , text = "Eritrea"  },
                                   new { value = "Estonia" , text = "Estonia" },
                                   new { value = "Ethiopia" , text = "Ethiopia"  },
                                   new { value = "Falkland Islands (Malvinas)" , text = "Falkland Islands (Malvinas)" },
                                   new { value = "Faroe Islands" , text = "Faroe Islands"  },
                                   new { value = "Fiji" , text = "Fiji" },
                                   new { value = "Finland" , text = "Finland"  },
                                   new { value = "France" , text = "France" },
                                   new { value = "French Guiana" , text = "French Guiana"  },
                                   new { value = "French Polynesia" , text = "French Polynesia" },
                                   new { value = "French Southern Territories" , text = "French Southern Territories"  },
                                   new { value = "Gabon" , text = "Gabon" },
                                   new { value = "Gambia" , text = "Gambia"  },
                                   new { value = "Georgia" , text = "Georgia" },
                                   new { value = "Germany" , text = "Germany"  },
                                   new { value = "Ghana" , text = "Ghana" },
                                   new { value = "Gibraltar" , text = "Gibraltar"  },
                                   new { value = "Greece" , text = "Greece" },
                                   new { value = "Grenada" , text = "Grenada"  },
                                   new { value = "Guadeloupe" , text = "Guadeloupe" },
                                   new { value = "Guam" , text = "Guam"  },
                                   new { value = "Guatemala" , text = "Guatemala" },
                                   new { value = "Guernsey" , text = "Guernsey"  },
                                   new { value = "Guinea" , text = "Guinea" },
                                   new { value = "Guinea-Bissau" , text = "Guinea-Bissau"  },
                                   new { value = "Guyana" , text = "Guyana" },
                                   new { value = "Haiti" , text = "Haiti"  },
                                   new { value = "Heard Island and McDonald Islands" , text = "Heard Island and McDonald Islands" },
                                   new { value = "Holy See (Vatican City State)" , text = "Holy See (Vatican City State)"  },
                                   new { value = "Honduras" , text = "Honduras" },
                                   new { value = "Hungary" , text = "Hungary"  },
                                   new { value = "Iceland" , text = "Iceland" },
                                   new { value = "India" , text = "India"  },
                                   new { value = "Indonesia" , text = "Indonesia" },
                                   new { value = "Iran, Islamic Republic of" , text = "Iran, Islamic Republic of"  },
                                   new { value = "Iraq" , text = "Iraq" },
                                   new { value = "Ireland" , text = "Ireland"  },
                                   new { value = "Isle of Man" , text = "Isle of Man" },
                                   new { value = "Israel" , text = "Israel"  },
                                   new { value = "Italy" , text = "Italy" },
                                   new { value = "Jamaica" , text = "Jamaica"  },
                                   new { value = "Japan" , text = "Japan" },
                                   new { value = "Jersey" , text = "Jersey"  },
                                   new { value = "Jordan" , text = "Jordan" },
                                   new { value = "Kazakhstan" , text = "Kazakhstan"  },
                                   new { value = "Kenya" , text = "Kenya" },
                                   new { value = "Kiribati" , text = "Kiribati"  },
                                   new { value = "Korea, Democratic People's Republic of" , text = "Korea, Democratic People's Republic of" },
                                   new { value = "Korea, Republic of" , text = "Korea, Republic of"  },
                                   new { value = "Kuwait" , text = "Kuwait" },
                                   new { value = "Kyrgyzstan" , text = "Kyrgyzstan"  },
                                   new { value = "Lao People's Democratic Republic" , text = "Lao People's Democratic Republic" },
                                   new { value = "Latvia" , text = "Latvia"  },
                                   new { value = "Lebanon" , text = "Lebanon" },
                                   new { value = "Lesotho" , text = "Lesotho"  },
                                   new { value = "Liberia" , text = "Liberia" },
                                   new { value = "Libya" , text = "Libya"  },
                                   new { value = "Liechtenstein" , text = "Liechtenstein" },
                                   new { value = "Lithuania" , text = "Lithuania"  },
                                   new { value = "Luxembourg" , text = "Luxembourg"  },
                                   new { value = "Macao" , text = "Macao" },
                                   new { value = "Macedonia, the former Yugoslav Republic of" , text = "Macedonia, the former Yugoslav Republic of"  },
                                   new { value = "Madagascar" , text = "Madagascar" },
                                   new { value = "Malawi" , text = "Malawi"  },
                                   new { value = "Malaysia" , text = "Malaysia" },
                                   new { value = "Maldives" , text = "Maldives"  },
                                   new { value = "Mali" , text = "Mali" },
                                   new { value = "Malta" , text = "Malta"  },
                                   new { value = "Marshall Islands" , text = "Marshall Islands" },
                                   new { value = "Martinique" , text = "Martinique"  },
                                   new { value = "Mauritania" , text = "Mauritania" },
                                   new { value = "Mayotte" , text = "Mayotte"  },
                                   new { value = "Mexico" , text = "Mexico" },
                                   new { value = "Micronesia, Federated States of" , text = "Micronesia, Federated States of"  },
                                   new { value = "Moldova, Republic of" , text = "Moldova, Republic of" },
                                   new { value = "Monaco" , text = "Monaco"  },
                                   new { value = "Mongolia" , text = "Mongolia" },
                                   new { value = "Montenegro" , text = "Montenegro"  },
                                   new { value = "Montserrat" , text = "Montserrat" },
                                   new { value = "Morocco" , text = "Morocco"  },
                                   new { value = "Mozambique" , text = "Mozambique" },
                                   new { value = "Myanmar" , text = "Myanmar"  },
                                   new { value = "Namibia" , text = "Namibia" },
                                   new { value = "Nauru" , text = "Nauru"  },
                                   new { value = "Nepal" , text = "Nepal" },
                                   new { value = "Netherlands" , text = "Netherlands"  },
                                   new { value = "New Caledonia" , text = "New Caledonia" },
                                   new { value = "New Zealand" , text = "New Zealand"  },
                                   new { value = "Nicaragua" , text = "Nicaragua" },
                                   new { value = "Niger" , text = "Niger"  },
                                   new { value = "Nigeria" , text = "Nigeria" },
                                   new { value = "Niue" , text = "Niue"  },
                                   new { value = "Norfolk Island" , text = "Norfolk Island"  },
                                   new { value = "Northern Mariana Islands" , text = "Northern Mariana Islands" },
                                   new { value = "Norway" , text = "Norway"  },
                                   new { value = "Oman" , text = "Oman" },
                                   new { value = "Oman" , text = "Oman"  },
                                   new { value = "Palau" , text = "Palau" },
                                   new { value = "Palestinian Territory, Occupied" , text = "Palestinian Territory, Occupied"  },
                                   new { value = "Panama" , text = "Panama" },
                                   new { value = "Papua New Guinea" , text = "Papua New Guinea"  },
                                   new { value = "Paraguay" , text = "Paraguay" },
                                   new { value = "Peru" , text = "Peru"  },
                                   new { value = "Philippines" , text = "Philippines" },
                                   new { value = "Pitcairn" , text = "Pitcairn"  },
                                   new { value = "Poland" , text = "Poland" },
                                   new { value = "Portugal" , text = "Portugal"  },
                                   new { value = "Puerto Rico" , text = "Puerto Rico" },
                                   new { value = "Qatar" , text = "Qatar"  },
                                   new { value = "Reunion" , text = "Reunion" },
                                   new { value = "Romania" , text = "Romania"  },
                                   new { value = "Russian Federation" , text = "Russian Federation" },
                                   new { value = "Rwanda" , text = "Rwanda"  },
                                   new { value = "Saint Barthélemy" , text = "Saint Barthélemy" },
                                   new { value = "Saint Helena, Ascension and Tristan da Cunha" , text = "Saint Helena, Ascension and Tristan da Cunha"  },
                                   new { value = "Saint Kitts and Nevis" , text = "Saint Kitts and Nevis" },
                                   new { value = "Saint Lucia" , text = "Saint Lucia"  },
                                   new { value = "Saint Martin (French part)" , text = "Saint Martin (French part)" },
                                   new { value = "Saint Pierre and Miquelon" , text = "Saint Pierre and Miquelon"  },
                                   new { value = "Saint Vincent and the Grenadines" , text = "Saint Vincent and the Grenadines" },
                                   new { value = "Samoa" , text = "Samoa"  },
                                   new { value = "San Marino" , text = "San Marino" },
                                   new { value = "Sao Tome and Principe" , text = "Sao Tome and Principe"  },
                                   new { value = "Saudi Arabia" , text = "Saudi Arabia" },
                                   new { value = "Senegal" , text = "Senegal"  },
                                   new { value = "Serbia" , text = "Serbia"  },
                                   new { value = "Seychelles" , text = "Seychelles" },
                                   new { value = "Sierra Leone" , text = "Sierra Leone"  },
                                   new { value = "Singapore" , text = "Singapore" },
                                   new { value = "Sint Maarten (Dutch part)" , text = "Sint Maarten (Dutch part)"  },
                                   new { value = "Slovakia" , text = "Slovakia" },
                                   new { value = "Slovenia" , text = "Slovenia"  },
                                   new { value = "Solomon Islands" , text = "Solomon Islands" },
                                   new { value = "Somalia" , text = "Somalia"  },
                                   new { value = "South Africa" , text = "South Africa" },
                                   new { value = "South Georgia and the South Sandwich Islands" , text = "South Georgia and the South Sandwich Islands"  },
                                   new { value = "South Sudan" , text = "South Sudan" },
                                   new { value = "Spain" , text = "Spain"  },
                                   new { value = "Sri Lanka" , text = "Sri Lanka" },
                                   new { value = "Sudan" , text = "Sudan"  },
                                   new { value = "Suriname" , text = "Suriname" },
                                   new { value = "Svalbard and Jan Mayen" , text = "Svalbard and Jan Mayen"  },
                                   new { value = "Swaziland" , text = "Swaziland" },
                                   new { value = "Sweden" , text = "Sweden"  },
                                   new { value = "Switzerland" , text = "Switzerland" },
                                   new { value = "Syrian Arab Republic" , text = "Syrian Arab Republic"  },
                                   new { value = "Taiwan, Province of China" , text = "Taiwan, Province of China" },
                                   new { value = "Tajikistan" , text = "Tajikistan"  },
                                   new { value = "Tanzania, United Republic of" , text = "Tanzania, United Republic of" },
                                   new { value = "Thailand" , text = "Thailand"  },
                                   new { value = "Timor-Leste" , text = "Timor-Leste" },
                                   new { value = "Togo" , text = "Togo"  },
                                   new { value = "Tokelau" , text = "Tokelau" },
                                   new { value = "Tonga" , text = "Tonga"  },
                                   new { value = "Trinidad and Tobago" , text = "Trinidad and Tobago" },
                                   new { value = "Tunisia" , text = "Tunisia"  },
                                   new { value = "Turkey" , text = "Turkey" },
                                   new { value = "Turkmenistan" , text = "Turkmenistan"  },
                                   new { value = "Turks and Caicos Islands" , text = "Turks and Caicos Islands"  },
                                   new { value = "Tuvalu" , text = "Tuvalu" },
                                   new { value = "Uganda" , text = "Uganda"  },
                                   new { value = "Ukraine" , text = "Ukraine" },
                                   new { value = "United Arab Emirates" , text = "United Arab Emirates"  },
                                   new { value = "United Kingdom" , text = "United Kingdom" },
                                   new { value = "United States" , text = "United States"  },
                                   new { value = "United States Minor Outlying Islands" , text = "United States Minor Outlying Islands" },
                                   new { value = "Uruguay" , text = "Uruguay"  },
                                   new { value = "Uzbekistan" , text = "Uzbekistan" },
                                   new { value = "Vanuatu" , text = "Vanuatu"  },
                                   new { value = "Venezuela, Bolivarian Republic of" , text = "Venezuela, Bolivarian Republic of" },
                                   new { value = "Viet Nam" , text = "Viet Nam"  },
                                   new { value = "Virgin Islands, British" , text = "Virgin Islands, British" },
                                   new { value = "Virgin Islands, U.S" , text = "Virgin Islands, U.S"  },
                                   new { value = "Wallis and Futuna" , text = "Wallis and Futuna" },
                                   new { value = "Western Sahara" , text = "Western Sahara"  },
                                   new { value = "Yemen" , text = "Yemen" },
                                   new { value = "Zambia" , text = "Zambia"  },
                                   new { value = "Zimbabwe" , text = "Zimbabwe" }}, "value", "text"), "- Please Select Country -", new { @name = "drpCountry", @class = "form-control", @id = "drpCountry" })
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Address</label>
                            <span id="sprytextfield6">
                                @Html.TextBoxFor(m => Model._delegate.DelegateAddress, new { @name = "txtAddress", @placeholder = "Address", @class = "form-control", @id = "txtAddress" })
                                @*<input type="text" style="width:98%; height:39px; padding-left:10px; border: thin solid #e5e5e5;" />*@
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Contact No</label>
                            <span id="sprytextfield7">
                                @Html.TextBoxFor(m => Model._delegate.ContactNo, new { @name = "txtContactNo", @placeholder = "Contact No", @class = "form-control", @id = "txtContactNo" })
                                <span class="textfieldRequiredMsg">A value is required.</span>
                             </span>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>E-mail Address</label>
                            <span id="sprytextfield8">
                                @Html.TextBoxFor(m => Model._delegate.EmailAddress, new { @name = "txtEmailAddress", @placeholder = "Email Address", @class = "form-control", @id = "txtEmailAddress" })
                                <span class="textfieldRequiredMsg">A value is required.</span>
                            </span>
                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Submit" class="btn btn-primary" id="submit-contact">
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row city">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>

@section scriptLocation{    
    <script type="text/javascript">
var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2");
var spryselect1 = new Spry.Widget.ValidationSelect("spryselect1");
var spryselect2 = new Spry.Widget.ValidationSelect("spryselect2");
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var sprytextfield3 = new Spry.Widget.ValidationTextField("sprytextfield3");
var sprytextfield4 = new Spry.Widget.ValidationTextField("sprytextfield4");
var sprytextfield5 = new Spry.Widget.ValidationTextField("sprytextfield5");
var sprytextfield6 = new Spry.Widget.ValidationTextField("sprytextfield6");
var sprytextfield7 = new Spry.Widget.ValidationTextField("sprytextfield7");
var sprytextfield8 = new Spry.Widget.ValidationTextField("sprytextfield8");
</script>
}